@import url(global.css);

.container {
    width: 100%;
    max-width: 350px;
    padding: 24px;
}

#register-page-form {
    background: var(--card-bg);
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid var(--border-color);
}

h2 {
    color: var(--text-color);
    margin: 0px 0px 4px 0px;
    font-size: 24px;
}

p {
    color: var(--text-muted);
    margin-bottom: 8px;
    font-size: 14px;
}

input {
    background-color: #0f172a;
    color: var(--text-color);
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s ease;
}

input:focus {
    outline: none;
    border-color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    margin-top: 8px;
}

button:hover {
    background-color: #2563eb;
}

button:active {
    transform: scale(0.98);
}

.toggle-link {
    text-align: center;
    font-size: 13px;
    color: var(--text-muted);
    margin-top: 8px;
}

.toggle-link a {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 32px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.6);
    font-family: var(--font-main);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast-message.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}